/* ===================================== Fonts =================================================== */
@font-face {
  font-family: "Saudi Riyal";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/saudi-riyal.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Fugaz One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fugaz-one.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lalezar.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/courier-prime-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/courier-prime-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/cairo-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/cairo-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cairo-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/cairo-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/cairo-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cairo-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/cairo-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/cairo-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-900.woff2") format("woff2");
}
